<p-toast/>
<p-confirmDialog/>
<p-panel header="Lista de Assunto" class="text-center sm:text-left">
  <div>
    <p-table
      [value]="assuntoResponse"
      [rowsPerPageOptions]="[10, 20, 30]"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
      responsiveLayout="scroll">
      <ng-template pTemplate="header">
        <tr>
          <th>#</th>
          <th>Assunto </th>
          <th>Ações</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-assunto let-i="rowIndex">
        <tr>
          <td>{{ i + 1 }}</td>
          <td>{{ assunto.nome }}</td>
          <td>
            <button pButton icon="pi pi-pencil" [outlined]="true"
                    class="p-button-rounded p-button-warning p-button-sm mr-1" (click)="editar(assunto)"></button>
            <button pButton icon="pi pi-trash" [outlined]="true" class="p-button-rounded p-button-danger p-button-sm"
                    (click)="excluir(assunto)"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
    <div
      style="display: flex; align-content: center;align-items: center; margin-top: 80px;    place-content: start;">
      <p-button label="Cadastrar" [outlined]="true" severity="info" outlined (click)="cadastrar()"/>
    </div>
  </div>
</p-panel>
