<p-toast />
<p-panel header="Cadastrar Perguntas" class="text-center sm:text-left text-1xl">
  <div>
    <form [formGroup]="form" class="box " enctype="multipart/form-data">
      <div style="display: flex; justify-content: space-between;">
        <div class="flex w-1/4 flex-col text-xs" style="display:flex">
          <label class="mb-1"> Série:</label>
          <p-select class="alinhamento-calendar p-dropdown"
                    [options]="seriesResponse"
                    formControlName="serie"
                    optionLabel="nome"
                    optionValue="id"
                    required>
            <ng-template let-serie pTemplate="selectedItem">
              {{ serie.nome }}
            </ng-template>
            <ng-template let-serie pTemplate="item">
              {{ serie.nome }}
            </ng-template>
          </p-select>
          <p class="text-red-700 text-sm"
             *ngIf="form.get('serie')?.touched && form.get('serie')?.hasError('required')">
            O campo série é obrigatório.
          </p>
        </div>

        <div class="flex w-1/4 flex-col text-xs ml-2">
          <label class="mb-1">Dificuldade:</label>
          <p-select
            class="alinhamento-calendar"
            [options]="dificuldades"
            formControlName="dificuldade"
            optionLabel="label"
            optionValue="value"
            required>
            <ng-template let-tipo pTemplate="selectedItem">
              {{ tipo.label }}
            </ng-template>

            <ng-template let-tipo pTemplate="item">
              {{ tipo.label }}
            </ng-template>
          </p-select>
          <p class="text-red-700 text-sm"
             *ngIf="form.get('dificuldade')?.touched && form.get('dificuldade')?.hasError('required')">
            O campo dificuldade é obrigatório.
          </p>
        </div>

        <div class="flex w-1/4 flex-col text-xs ml-2">
          <label class="mb-1">Assunto:</label>
          <p-select class="alinhamento-calendar"
                    [options]="assuntoResponse"
                    formControlName="assunto"
                    optionLabel="nome"
                    optionValue="id"
                    required>
            <ng-template let-tipo pTemplate="selectedItem">
              {{ tipo.nome }}
            </ng-template>
            <ng-template let-tipo pTemplate="item">
              {{ tipo.nome }}
            </ng-template>
          </p-select>
          <p class="text-red-700 text-sm"
             *ngIf="form.get('assunto')?.touched && form.get('assunto')?.hasError('required')">
            O campo assunto é obrigatório.
          </p>
        </div>

        <div class="flex w-1/4 flex-col text-xs ml-2">
          <label class="mb-1">Tipo de Prova:</label>
          <p-selectButton [options]="stateOptions" optionLabel="label" formControlName="tipoProva"
                          optionValue="value" aria-labelledby="basic" (onChange)="atualizarTipoPergunta($event.value)"/>

          <p class="text-red-700 text-sm"
             *ngIf="form.get('tipoProva')?.touched && form.get('tipoProva')?.hasError('required')">
            O campo tipo de prova é obrigatório.
          </p>
        </div>
      </div>
      <div class="mt-5 flex">
        <div class="flex flex-1 flex-col text-xs">
          <label class="mb-1">Pergunta:</label>
          <textarea formControlName="enunciado" rows="10" cols="60" pTextarea></textarea>
          <p class="text-red-700 text-sm"
             *ngIf="form.get('enunciado')?.touched && form.get('enunciado')?.hasError('required')">
            O campo pergunta é obrigatório.
          </p>
        </div>
      </div>
      <div class="mt-5 flex">
        <div class="flex w-1/2 flex-col text-xs">
          <label class="mb-1">Resposta Correta:</label>
          <textarea formControlName="respostaCorreta" rows="5" pInputText placeholder="Digite uma resposta"
                    class="w-full"></textarea>
          <p class="text-red-700 text-sm"
             *ngIf="form.get('respostaCorreta')?.touched && form.get('respostaCorreta')?.hasError('required')">
            O campo resposta correta é obrigatório.
          </p>
        </div>
        <div class="flex w-1/2 flex-col text-xs ml-2">
          <div class="flex flex-col gap-1" *ngIf="tipoPergunta == 1">
            <label class="mb-1">Respostas incorretas:</label>

            <div formArrayName="alternativasErradas">
              <div *ngFor="let alternativa of alternativasErradas.controls; let i = index" [formGroupName]="i"
                   class="flex items-center gap-2">
                <textarea pInputText placeholder="Digite uma resposta" class="w-full" formControlName="texto"
                          rows="4"></textarea>
                <button pButton icon="pi pi-trash" (click)="removerResposta(i)"
                        class="p-button-rounded p-button-danger p-button-sm" type="button"></button>
              </div>

              <button pButton label="Adicionar resposta" icon="pi pi-plus"
                      (click)="adicionarResposta()"
                      *ngIf="alternativasErradas.length < 4"
                      class="p-button-sm w-fit" type="button" outlined [outlined]="true">
              </button>
            </div>
          </div>
        </div>
      </div>
      <div
        style="display: flex; align-content: center;align-items: center; margin-left: 20px;margin-top: 80px;    place-content: end;">
        <p-button label="Salvar" [outlined]="true" severity="info" outlined (click)="salvar()" [disabled]="!this.form.valid"/>
        <p-button class="ml-4" [outlined]="true" label="Cancelar" (click)="cancelar()" severity="danger" outlined/>
      </div>
    </form>
  </div>
</p-panel>
